.hero-image {
  width:100%;
  height:500px;
  background-image: url("https://cdn.pixabay.com/photo/2015/06/19/21/24/the-road-815297_1280.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}

.hero-image-text {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  font-size: 75px;
  font-weight: bold;
  color: white;
  border-top: 1.5px solid #fafafa;
  border-bottom: 1.5px solid #fafafa;
}
