@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Roboto:ital,wght@0,100;0,300;0,500;1,400&display=swap');
/* curtain nav bar */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0; 
    background-color: rgba(207, 198, 197, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}
.overlay-content {
    font-family: 'Roboto', sans-serif;
    color: white;
    position: relative;
    top: 25%;;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: #131212;
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
.overlay {
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 30px;
}
@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
}
.openmenu {
    font-size: 30px;
}
/* Hero image homepage */
.hero-image {
    width:100%;
    height:600px;
    background: url("../images/homepage-main.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: scroll;
}
.hero-image-text {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-image-text h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    border-top: 1.5px solid #fafafa;
    border-bottom: 1.5px solid #fafafa;
}
.hero-image-text h3 {
    font-family: 'Roboto', sans-serif;
    color: white;
}
/* homepage - my journer/philosophy section */
.about-me-section {
    padding: 40px 0px;
}
.journey-image {
    background: url('../images/homepage/journey.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
}
.philosophy-image {
    background: url('../images/homepage/philosophy.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;height: 400px;
    margin-left: 20px;
    margin-right: 20px;
}
.card-text {
    color: rgb(167, 162, 162);
    position: relative;
    background-color: #fafafa;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-style: groove;
    margin-top: -160px;
    padding: 10px 45px;
    margin: -160px 45px 0px;
}
.card-text h5 {
    color: rgb(167, 162, 162);
    padding: 20px 0px;
}
.card-text h3 {
    color: rgb(190, 140, 136);
    padding: 50px 0px;
    border-bottom: 0.5px solid rgb(167, 162, 162);
}
.card-text p {
    color: rgb(167, 162, 162);
    padding: 10px 0px;
}
.card-text p img {
    float: right;
    width: 250px;
    height: 250px;
    margin: 0px 10px;
    border-radius: 250px;
}
/* homepage-testimonials */
.testimonial-section {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 25px 0px;
    padding: 40px 20px;
}
.homepage-testimonials {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    background: url('../images/homepage/wood.jpg');
    opacity: .8;
    border: solid 5px white;
}
.homepage-testimonials h6 {
    background-color: #fafafa;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 50px 20px;
    margin-right: 20px;
    margin-left: 20px;
    border: groove;
}
.homepage-testimonials h5 {
    color: white;
    float: right;
    padding-right: 10px;
    padding-top: 5px;
}
/* footer */
.my-footer {
    border-top: solid 0.5px rgb(167, 162, 162);
    background-color: #fafafa;
}
.footer-right {
    color: rgb(190, 140, 136);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 20px;
}
.footer-left {
    color: rgb(190, 140, 136);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 20px;
}
.copywrite {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: x-small;
    text-align: center;
}
/* Therapies page hero image*/
.therapies-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/homepage-main.jpg');
    width:100%;
    height:600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}
.therapies-image-text {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.therapies-image-text h3 {
    font-family: 'Roboto', sans-serif;
    color: white;
    border-top: 1.5px solid #fafafa;
    border-bottom: 1.5px solid #fafafa;
}
.therapies-image-text p {
    font-family: 'Roboto', sans-serif;
    color: white;
}
/* Therapies page therapies*/
.therapy-section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 25px;
    border: solid 2px grey;
}
.image-text {
    text-align: center;
    background-color: grey;
    padding: 10px;
    margin: 0px 126px;
}
/* therapies-testimonials */
.testimonial-section {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 25px 0px;
    padding: 40px 20px;
}
.therapies-testimonials {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    background: url('../images/therapies/meadow.jpg');
    opacity: .8;
    border: solid 5px white;
}
.therapies-testimonials h6 {
    background-color: #fafafa;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 50px 20px;
    margin-right: 20px;
    margin-left: 20px;
    border: groove;
}
.therapies-testimonials h5 {
    color: white;
    float: right;
    padding-right: 10px;
    padding-top: 5px;
}
/* contact page hero image*/
.contact-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/homepage-main.jpg');
    width:100%;
    height:600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}
.contact-image-text {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact-image-text h3 {
    font-family: 'Roboto', sans-serif;
    color: white;
    border-top: 1.5px solid #fafafa;
    border-bottom: 1.5px solid #fafafa;
}
.contact-image-text p {
    font-family: 'Roboto', sans-serif;
    color: white;
}
/* springboard-page */
.springboard {
    background-color: #fafafa;
}
#sb-navbar {
    font-family: 'Comfortaa', cursive;
    background-color: #fafafa;
}
#sb-navbar ul li a {
    color: #6B55AC;
    padding: 12px 25px;
    font-weight: 500;
}
#sb-navbar ul li a:hover {
    background-color: #E3E5E8;
    color: white;
}
.sb-image {
    position: relative;
    text-align: center;
    color: white;
}
.sb-image img {
    width: 100%;
    height: 480px;
}
.sb-herotext {
    font-family: 'Comfortaa', cursive;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    letter-spacing: 8px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 20px black;
    font-weight: 36px;
    font-size: 30px;
}
#springboard {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding-top: 90px;
}
#about {
    padding-top: 90px;
}
.michael-details img {
    width: 182px;
    height: 243px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.michael-details h5 {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color: #6B55AC;
    text-shadow: 2px 2px 5px #6B55AC;
    letter-spacing: 3px;
    padding: 15px;
}
.michael-details p {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding: 0px 50px;
}
.christine-details img {
    width: 182px;
    height: 243px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.christine-details h5 {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color: #6B55AC;
    text-shadow: 2px 2px 5px #6B55AC;
    letter-spacing: 3px;
    padding: 15px;
}
.christine-details p {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding: 50px 50px;
}
.weekend-workshops h5 {
    font-family: 'Comfortaa', cursive;
    text-align: center;
}
.weekend-workshops p {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding: 10px 40px;
}
/* springboard footer */
.springboard-footer {
    border-top: solid 0.5px rgb(167, 162, 162, .8);
    background-color: #7E71C2;
}
.springboard-footer-right {
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 20px;
}
.springboard-footer-left {
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 20px;
}
.springboard-copywrite {
    color: #fafafa;
    background-color: #6B55AC;
    font-family: 'Roboto', sans-serif;
    font-size: x-small;
    text-align: center;
}

