@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto:wght@300&family=Waiting+for+the+Sunrise&display=swap');
/* curtain nav bar */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0; 
  background-color: rgba(189, 157, 155, .9);
  overflow-y: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 30px;
  color: #131212;
  display: block;
  transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}
.overlay {
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 30px;
}
@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
}
.openmenu {
    font-size: 30px;
}
/* Hero image homepage */
.hero-image {
  width:100%;
  height:500px;
  background-image: url('/assets/images/homepage-main.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
.hero-image-text {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.hero-image-text h1 {
  font-family: 'Roboto', sans-serif;
  color: white;
  border-top: 1.5px solid #fafafa;
  border-bottom: 1.5px solid #fafafa;
}
.hero-image-text h3 {
  font-family: 'Roboto', sans-serif;
  color: white;
}
/* my journer/philosophy section */
.about-me-section {
    padding: 40px 0px;
}
.journey-image {
    background: url('/assets/images/journey.jpg') center /cover no-repeat;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
}
.philosophy-image {
     background: url('/assets/images/philosophy.jpg') center /cover no-repeat;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
}
.card-text {
    color: rgb(167, 162, 162);
    position: relative;
    background-color: #fafafa;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-style: groove;
    margin-top: -160px;
    padding: 10px 45px;
    margin: -160px 45px 0px;
}
.card-text h5 {
    color: rgb(167, 162, 162);
    padding: 20px 0px;
}
.card-text h3 {
    color: rgb(190, 140, 136);
    padding: 50px 0px;
    border-bottom: 0.5px solid rgb(167, 162, 162);
}
.card-text p {
    color: rgb(167, 162, 162);
    padding: 10px 0px;
}
.card-text p img {
    float: right;
    width: 250px;
    height: 250px;
    margin: 0px 10px;
    border-radius: 250px;
}
/* testimonials */
.testimonial-section {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 25px 0px;
    padding: 40px 20px;
}
.homepage-testimonials {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    background: url(/assets/images/meadow.jpg);
    opacity: .8;
    border: groove 2px lightgray;
}
.homepage-testimonials p {
    background-color: #fafafa;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 50px 20px;
    margin-right: 20px;
    margin-left: 20px;
    border: groove;
}
.homepage-testimonials h5 {
    background-color: #fafafa;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 50px 20px;
    margin-right: 20px;
    margin-left: 20px;
    border: groove;
}
.homepage-testimonials h4 {
    color: white;
    float: right;
    padding-right: 10px;
    padding-top: 5px;
}
/* footer */
.my-footer {
    border-top: solid 0.5px rgb(167, 162, 162);
    background-color: #fafafa;
}
.footer-right {
    color: rgb(190, 140, 136);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 20px;
}
.footer-left {
    color: rgb(190, 140, 136);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 20px;
}
.copywrite {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: x-small;
    text-align: center;
}
/* Therapies page hero image*/
.therapies-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/homepage-main.jpg');
  width:100%;
  height:500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
.therapies-image-text {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.therapies-image-text h3 {
  font-family: 'Roboto', sans-serif;
  color: white;
  border-top: 1.5px solid #fafafa;
  border-bottom: 1.5px solid #fafafa;
}
.therapies-image-text p {
  font-family: 'Roboto', sans-serif;
  color: white;
}
/* Therapies page therapies*/
.therapy-section {
    padding: 40px 0px;
}
.therapy-section h3 {
    font-family: 'Roboto', sans-serif;
    margin: 0px 20px;
    border: groove;
    padding: 10px;
}
.nutrition-image {
    background: url('/assets/images/nutrition.jpg') center /cover no-repeat;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
    border: solid 0.5px rgb(167, 162, 162);
}
.eft-image {
    background: url('/assets/images/eft.jpg') center /cover no-repeat;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
    border: solid 0.5px rgb(167, 162, 162);
}
.meditation-image {
    background: url('/assets/images/meditation.jpg') center /cover no-repeat;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
    border: solid 0.5px rgb(167, 162, 162);
}
.healing-image {
    background: url('/assets/images/healing.jpg') center /cover no-repeat;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
    border: solid 0.5px rgb(167, 162, 162);
}
.intro h3 {
    padding: 20px;
    color: rgb(189, 157, 155);
    background-color: #fafafa;
}
.intro h3 button {
    padding: 20px;
    float: right;
    color: rgb(167, 162, 162);
    background-color: white;
    border: 2px solid rgb(167, 162, 162);
}
.intro h3 button:hover {
    color: white;
    background-color: rgb(167, 162, 162);
}
.modal-title {
    color: rgb(189, 157, 155);
    border-bottom: 0.5px solid rgb(167, 162, 162);
}
.modal-body {
    text-align: center;
    color: rgb(167, 162, 162);
}
.modal-footer button {
    color: rgb(167, 162, 162);
    background-color: white;
    border: 2px solid rgb(167, 162, 162);
}
.modal-footer button:hover {
    color: white;
    background-color: rgb(167, 162, 162);
}
/* contact page hero image*/
.contact-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/homepage-main.jpg');
  width:100%;
  height:500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
.contact-image-text {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact-image-text h1 {
  font-family: 'Roboto', sans-serif;
  color: white;
  border-top: 1.5px solid #fafafa;
  border-bottom: 1.5px solid #fafafa;
}
.contact-image-text p {
  font-family: 'Roboto', sans-serif;
  color: white;
}





